name: deploy-manifests
on:
  push:
    branches: [main]
    paths:
      - 'k8s/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: adome

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          create_credentials_file: true
          export_environment_variables: true
          cleanup_credentials: true

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: adome-cluster
          location: asia-south1-a
          project_id: adome-hobby-123

      - name: Apply PVC manifests
        run: kubectl apply -f k8s/pvc/
      
      - name: Apply PVC manifests
        run: kubectl apply -f k8s/postgres-init-configmap.yml
      # - name: Apply ConfigMap manifests
      #       run: kubectl apply -f k8s/configmap/ 

      - name: Apply Secrets manifests
        run: kubectl apply -f k8s/secrets/

      - name: Apply Deployment manifests
        run: kubectl apply -f k8s/deployments/

      - name: Apply Production Ingress
        run: kubectl apply -f k8s/ingress/production/ingress.yml
